/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 18px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}

/******************************************
/* LAYOUT/BOOTSTRAP OVERRIDE
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/